# Initial Data Cleaning

In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/formula-1-world-championship-1950-2020/races.csv
/kaggle/input/formula-1-world-championship-1950-2020/constructor_results.csv
/kaggle/input/formula-1-world-championship-1950-2020/drivers.csv
/kaggle/input/formula-1-world-championship-1950-2020/constructors.csv
/kaggle/input/formula-1-world-championship-1950-2020/lap_times.csv
/kaggle/input/formula-1-world-championship-1950-2020/status.csv
/kaggle/input/formula-1-world-championship-1950-2020/driver_standings.csv
/kaggle/input/formula-1-world-championship-1950-2020/seasons.csv
/kaggle/input/formula-1-world-championship-1950-2020/pit_stops.csv
/kaggle/input/formula-1-world-championship-1950-2020/sprint_results.csv
/kaggle/input/formula-1-world-championship-1950-2020/constructor_standings.csv
/kaggle/input/formula-1-world-championship-1950-2020/results.csv
/kaggle/input/formula-1-world-championship-1950-2020/circuits.csv
/kaggle/input/formula-1-world-championship-1950-2020/qualifying.csv

In [2]:
# Load each file into a dataframe
df_list = []
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        if filename.endswith('.csv'):  # Assuming the files are CSV files
            df = pd.read_csv(os.path.join(dirname, filename))
            df_list.append(df)

# Now df_list contains all 14 files as dataframes

In [3]:
import pandas as pd
import os

# List all files in the input directory
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# Load each file into a corresponding dataframe
df1 = None
df2 = None
df3 = None
df4 = None
df5 = None
df6 = None
df7 = None
df8 = None
df9 = None
df10 = None
df11 = None
df12 = None
df13 = None
df14 = None

for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        if filename.endswith('.csv'):  # Assuming the files are CSV files
            df = pd.read_csv(os.path.join(dirname, filename))
            if filename == 'circuits.csv':
                df1 = df
            elif filename == 'constructor_results.csv':
                df2 = df
            elif filename == 'constructor_standings.csv':
                df3 = df
            elif filename == 'constructors.csv':
                df4 = df
            elif filename == 'driver_standings.csv':
                df5 = df
            elif filename == 'drivers.csv':
                df6 = df
            elif filename == 'lap_times.csv':
                df7 = df
            elif filename == 'pit_stops.csv':
                df8 = df
            elif filename == 'qualifying.csv':
                df9 = df
            elif filename == 'races.csv':
                df10 = df
            elif filename == 'results.csv':
                df11 = df
            elif filename == 'seasons.csv':
                df12 = df
            elif filename == 'sprint_results.csv':
                df13 = df
            elif filename == 'status.csv':
                df14 = df

# Now df1, df2, ..., df14 contain the data from each file in the dataset

/kaggle/input/formula-1-world-championship-1950-2020/races.csv
/kaggle/input/formula-1-world-championship-1950-2020/constructor_results.csv
/kaggle/input/formula-1-world-championship-1950-2020/drivers.csv
/kaggle/input/formula-1-world-championship-1950-2020/constructors.csv
/kaggle/input/formula-1-world-championship-1950-2020/lap_times.csv
/kaggle/input/formula-1-world-championship-1950-2020/status.csv
/kaggle/input/formula-1-world-championship-1950-2020/driver_standings.csv
/kaggle/input/formula-1-world-championship-1950-2020/seasons.csv
/kaggle/input/formula-1-world-championship-1950-2020/pit_stops.csv
/kaggle/input/formula-1-world-championship-1950-2020/sprint_results.csv
/kaggle/input/formula-1-world-championship-1950-2020/constructor_standings.csv
/kaggle/input/formula-1-world-championship-1950-2020/results.csv
/kaggle/input/formula-1-world-championship-1950-2020/circuits.csv
/kaggle/input/formula-1-world-championship-1950-2020/qualifying.csv

In [4]:
import matplotlib.pyplot as plt
%matplotlib inline

In [5]:
#File 1) circuits.csv

In [6]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77 entries, 0 to 76
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   circuitId   77 non-null     int64
 1   circuitRef  77 non-null     object
 2   name        77 non-null     object
 3   location    77 non-null     object
 4   country     77 non-null     object
 5   lat         77 non-null     float64
 6   lng         77 non-null     float64
 7   alt         77 non-null     object
 8   url         77 non-null     object
dtypes: float64(2), int64(1), object(6)
memory usage: 5.5+ KB

In [7]:
#Observations:
#There have been 77 Formula 1 circuits till date
#No missing values observed

In [8]:
df1.head(2)

,circuitId,circuitRef,name,location,country,lat,lng,alt,url
0,1,albert_park,Albert Park Grand Prix Circuit,Melbourne,Australia,-37.84970,144.968,10,http://en.wikipedia.org/wiki/Melbourne_Grand_P...
1,2,sepang,Sepang International Circuit,Kuala Lumpur,Malaysia,2.76083,101.738,18,http://en.wikipedia.org/wiki/Sepang_Internatio...

In [9]:
#Dropping unnecessary columns

df1.drop(columns=['circuitRef', 'lat', 'lng', 'alt', 'url'], inplace=True)

In [10]:
df1.head(2)

   circuitId                            name      location    country
0          1  Albert Park Grand Prix Circuit     Melbourne  Australia
1          2    Sepang International Circuit  Kuala Lumpur   Malaysia

In [11]:
df1.rename(columns = {'name': 'circuit_name'})

,circuitId,circuit_name,location,country
0,1,Albert Park Grand Prix Circuit,Melbourne,Australia
1,2,Sepang International Circuit,Kuala Lumpur,Malaysia
2,3,Bahrain International Circuit,Sakhir,Bahrain
3,4,Circuit de Barcelona-Catalunya,Montmeló,Spain
4,5,Istanbul Park,Istanbul,Turkey
...,...,...,...,...
72,75,Autódromo Internacional do Algarve,Portimão,Portugal
73,76,Autodromo Internazionale del Mugello,Mugello,Italy
74,77,Jeddah Corniche Circuit,Jeddah,Saudi Arabia
75,78,Losail International Circuit,Al Daayen,Qatar
76,79,Miami International Autodrome,Miami,USA

In [12]:
df1['circuitId'].unique()

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20, 21, 22, 80, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34,
       35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51,
       52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68,
       69, 70, 71, 73, 75, 76, 77, 78, 79])

In [13]:
#File 2) constructor_results

In [14]:
df2.head(5)

   constructorResultsId  raceId  constructorId  points status
0                     1      18              1    14.0     \N
1                     2      18              2     8.0     \N
2                     3      18              3     9.0     \N
3                     4      18              4     5.0     \N
4                     5      18              5     2.0     \N

In [15]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12290 entries, 0 to 12289
Data columns (total 5 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   constructorResultsId  12290 non-null  int64
 1   raceId                12290 non-null  int64
 2   constructorId         12290 non-null  int64
 3   points                12290 non-null  float64
 4   status                12290 non-null  object
dtypes: float64(1), int64(3), object(1)
memory usage: 480.2+ KB

In [16]:
df2.shape

(12290, 5)

In [17]:
#Observations:
#No Null values seen
#All columns seem important for analysis
#So I'll proceed to the next file

In [18]:
#File 3) constructor_standings

In [19]:
df3.shape

(13051, 7)

In [20]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13051 entries, 0 to 13050
Data columns (total 7 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   constructorStandingsId  13051 non-null  int64
 1   raceId                  13051 non-null  int64
 2   constructorId           13051 non-null  int64
 3   points                  13051 non-null  float64
 4   position                13051 non-null  int64
 5   positionText            13051 non-null  object
 6   wins                    13051 non-null  int64
dtypes: float64(1), int64(5), object(1)
memory usage: 713.9+ KB

In [21]:
df3.head()

,constructorStandingsId,raceId,constructorId,points,position,positionText,wins
0,1,18,1,14.0,1,1,1
1,2,18,2,8.0,3,3,0
2,3,18,3,9.0,2,2,0
3,4,18,4,5.0,4,4,0
4,5,18,5,2.0,5,5,0

In [22]:
#Observations:
#No null values seen.

In [23]:
df3['position'].unique()

array([ 1,  3,  2,  4,  5,  6,  8,  7,  9, 10, 11, 12, 13, 14, 15, 18, 17,
       16, 19, 20, 21, 22])

In [24]:
df3['positionText'].unique()

array(['1', '3', '2', '4', '5', '6', '8', '7', '9', '10', '11', 'E', '12',
       '13', '14', '15', '18', '17', '16', '19', '20', '21', '22'],
      dtype=object)

In [25]:
filt=(df3['positionText']=='E')
df3[filt].head(2)

,constructorStandingsId,raceId,constructorId,points,position,positionText,wins
217,25756,38,1,44.0,11,E,1
227,25767,39,1,58.0,11,E,1

In [26]:
#Could not figure out what 'E' in the positionText stood for
#Anyways dropping the column

In [27]:
df3.drop(columns=['positionText'], inplace=True)

In [28]:
df3.head(2)

   constructorStandingsId  raceId  constructorId  points  position  wins
0                       1      18              1    14.0         1     1
1                       2      18              2     8.0         3     0

In [29]:
#File 4) constructors.csv

In [30]:
df4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 211 entries, 0 to 210
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   constructorId   211 non-null    int64
 1   constructorRef  211 non-null    object
 2   name            211 non-null    object
 3   nationality     211 non-null    object
 4   url             211 non-null    object
dtypes: int64(1), object(4)
memory usage: 8.4+ KB

In [31]:
#observations:
#No null values seen.

In [32]:
df4.head(2)

,constructorId,constructorRef,name,nationality,url
0,1,mclaren,McLaren,British,http://en.wikipedia.org/wiki/McLaren
1,2,bmw_sauber,BMW Sauber,German,http://en.wikipedia.org/wiki/BMW_Sauber

In [33]:
df4.drop(columns={'constructorRef', 'url'}, inplace=True)

In [34]:
df4.head(2)

   constructorId        name nationality
0              1     McLaren     British
1              2  BMW Sauber      German

In [35]:
#File 5) driver_standings.csv

In [36]:
df5.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34124 entries, 0 to 34123
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   driverStandingsId  34124 non-null  int64
 1   raceId             34124 non-null  int64
 2   driverId           34124 non-null  int64
 3   points             34124 non-null  float64
 4   position           34124 non-null  int64
 5   positionText       34124 non-null  object
 6   wins               34124 non-null  int64
dtypes: float64(1), int64(5), object(1)
memory usage: 1.8+ MB

In [37]:
#Observations:
#No null values seen

In [38]:
df5.head(2)

   driverStandingsId  raceId  driverId  points  position positionText  wins
0                  1      18         1    10.0         1            1     1
1                  2      18         2     8.0         2            2     0

In [39]:
df5['positionText'].unique()

array(['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12',
       '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23',
       '24', '25', '27', '26', 'D', '28', '29', '30', '31', '33', '32',
       '34', '36', '35', '38', '39', '37', '45', '41', '46', '42', '40',
       '43', '44', '47', '49', '48', '51', '50', '52', '53', '55', '54',
       '57', '56', '58', '59', '61', '60', '62', '66', '65', '63', '64',
       '69', '68', '67', '73', '72', '71', '70', '75', '74', '77', '76',
       '78', '83', '81', '80', '88', '87', '84', '82', '86', '85', '79',
       '91', '90', '89', '92', '93', '94', '95', '96', '97', '98', '103',
       '102', '101', '99', '100', '104', '108', '107', '105', '106'],
      dtype=object)

In [40]:
df5['position'].unique()

array([  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,  13,
        14,  15,  16,  17,  18,  19,  20,  21,  22,  23,  24,  25,  27,
        26,  28,  29,  30,  31,  33,  32,  34,  36,  35,  38,  39,  37,
        45,  41,  46,  42,  40,  43,  44,  47,  49,  48,  51,  50,  52,
        53,  55,  54,  57,  56,  58,  59,  61,  60,  62,  66,  65,  63,
        64,  69,  68,  67,  73,  72,  71,  70,  75,  74,  77,  76,  78,
        83,  81,  80,  88,  87,  84,  82,  86,  85,  79,  91,  90,  89,
        92,  93,  94,  95,  96,  97,  98, 103, 102, 101,  99, 100, 104,
       108, 107, 105, 106])

In [41]:
df5.drop(columns={'positionText'}, inplace=True)

In [42]:
df5.head(2)

   driverStandingsId  raceId  driverId  points  position  wins
0                  1      18         1    10.0         1     1
1                  2      18         2     8.0         2     0

In [43]:
#File 6) drivers.csv

In [44]:
df6.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 857 entries, 0 to 856
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   driverId     857 non-null    int64
 1   driverRef    857 non-null    object
 2   number       857 non-null    object
 3   code         857 non-null    object
 4   forename     857 non-null    object
 5   surname      857 non-null    object
 6   dob          857 non-null    object
 7   nationality  857 non-null    object
 8   url          857 non-null    object
dtypes: int64(1), object(8)
memory usage: 60.4+ KB

In [45]:
#Observations:
#No null values seen

In [46]:
df6.shape

(857, 9)

In [47]:
df6.head()

,driverId,driverRef,number,code,forename,surname,dob,nationality,url
0,1,hamilton,44,HAM,Lewis,Hamilton,1985-01-07,British,http://en.wikipedia.org/wiki/Lewis_Hamilton
1,2,heidfeld,\N,HEI,Nick,Heidfeld,1977-05-10,German,http://en.wikipedia.org/wiki/Nick_Heidfeld
2,3,rosberg,6,ROS,Nico,Rosberg,1985-06-27,German,http://en.wikipedia.org/wiki/Nico_Rosberg
3,4,alonso,14,ALO,Fernando,Alonso,1981-07-29,Spanish,http://en.wikipedia.org/wiki/Fernando_Alonso
4,5,kovalainen,\N,KOV,Heikki,Kovalainen,1981-10-19,Finnish,http://en.wikipedia.org/wiki/Heikki_Kovalainen

In [48]:
#We already have driver forename and surame, thus dropping driverRef
#Driver code will be useful in plotting graphs
df6.drop(columns={'driverRef', 'number', 'url'}, inplace=True)
df6.head(2)

   driverId code forename   surname         dob nationality
0         1  HAM    Lewis  Hamilton  1985-01-07     British
1         2  HEI     Nick  Heidfeld  1977-05-10      German

In [49]:
#changig dob from string to Date-Time format
#Note: Not calculating driver age yet, will do once all season info is available

df6['dob'] = pd.to_datetime(df6['dob'], format='%Y-%m-%d')

In [50]:
df6.head(2)

   driverId code forename   surname        dob nationality
0         1  HAM    Lewis  Hamilton 1985-01-07     British
1         2  HEI     Nick  Heidfeld 1977-05-10      German

In [51]:
df6.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 857 entries, 0 to 856
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   driverId     857 non-null    int64
 1   code         857 non-null    object
 2   forename     857 non-null    object
 3   surname      857 non-null    object
 4   dob          857 non-null    datetime64[ns]
 5   nationality  857 non-null    object
dtypes: datetime64[ns](1), int64(1), object(4)
memory usage: 40.3+ KB

In [52]:
#File 7) lap_times.csv

In [53]:
df7.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 551742 entries, 0 to 551741
Data columns (total 6 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   raceId        551742 non-null  int64
 1   driverId      551742 non-null  int64
 2   lap           551742 non-null  int64
 3   position      551742 non-null  int64
 4   time          551742 non-null  object
 5   milliseconds  551742 non-null  int64
dtypes: int64(5), object(1)
memory usage: 25.3+ MB

In [54]:
#No null values seen
df7.head()

   raceId  driverId  lap  position      time  milliseconds
0     841        20    1         1  1:38.109         98109
1     841        20    2         1  1:33.006         93006
2     841        20    3         1  1:32.713         92713
3     841        20    4         1  1:32.803         92803
4     841        20    5         1  1:32.342         92342

In [55]:
df7['milliseconds'].nlargest(5)

8372    7507547
8020    7506656
8426    7506243
8621    7506095
7916    7505152
Name: milliseconds, dtype: int64

In [56]:
#Not dropping milliseconds yet, might help in plotting graphs later
#Time is a string, changing it to time format
#Since some entries in the time columns are of the format='%H:%M:%S.%f' while some of format='%M:%S.%f' 
# I got an error while using df7['time'] = pd.to_datetime(df7['time'], format='%H:%M:%S.%f')

In [57]:
#Converting milliseconds column to timedelta
df7['time_delta'] = df7['milliseconds'].apply(lambda x: pd.to_timedelta(x, unit='ms'))

In [58]:
df7.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 551742 entries, 0 to 551741
Data columns (total 7 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   raceId        551742 non-null  int64
 1   driverId      551742 non-null  int64
 2   lap           551742 non-null  int64
 3   position      551742 non-null  int64
 4   time          551742 non-null  object
 5   milliseconds  551742 non-null  int64
 6   time_delta    551742 non-null  timedelta64[ns]
dtypes: int64(5), object(1), timedelta64[ns](1)
memory usage: 29.5+ MB

In [59]:
df7.head(2)

,raceId,driverId,lap,position,time,milliseconds,time_delta
0,841,20,1,1,1:38.109,98109,0 days 00:01:38.109000
1,841,20,2,1,1:33.006,93006,0 days 00:01:33.006000

In [60]:
df7.drop(columns={'time'}, inplace=True)

In [61]:
df7.rename(columns={'time_delta': 'time'}, inplace=True)

In [62]:
df7['time'].nlargest()

8372   0 days 02:05:07.547000
8020   0 days 02:05:06.656000
8426   0 days 02:05:06.243000
8621   0 days 02:05:06.095000
7916   0 days 02:05:05.152000
Name: time, dtype: timedelta64[ns]

In [63]:
df7.head(2)

   raceId  driverId  lap  position  milliseconds                   time
0     841        20    1         1         98109 0 days 00:01:38.109000
1     841        20    2         1         93006 0 days 00:01:33.006000

In [64]:
#File 8) pit_stops.csv

In [65]:
df8.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10089 entries, 0 to 10088
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   raceId        10089 non-null  int64
 1   driverId      10089 non-null  int64
 2   stop          10089 non-null  int64
 3   lap           10089 non-null  int64
 4   time          10089 non-null  object
 5   duration      10089 non-null  object
 6   milliseconds  10089 non-null  int64
dtypes: int64(5), object(2)
memory usage: 551.9+ KB

In [66]:
df8.head(10)

   raceId  driverId  stop  lap      time duration  milliseconds
0     841       153     1    1  17:05:23   26.898         26898
1     841        30     1    1  17:05:52   25.021         25021
2     841        17     1   11  17:20:48   23.426         23426
3     841         4     1   12  17:22:34   23.251         23251
4     841        13     1   13  17:24:10   23.842         23842
5     841        22     1   13  17:24:29   23.643         23643
6     841        20     1   14  17:25:17   22.603         22603
7     841       814     1   14  17:26:03   24.863         24863
8     841       816     1   14  17:26:50   25.259         25259
9     841        67     1   15  17:27:34   25.342         25342

In [67]:
#Here, time denotes the time at which driver entered the pit
#duration is the time lost in the pit lane
#We can drop time & duration and convert milliseconds to time_delta (if required)

In [68]:
df8.drop(columns={'time', 'duration'}, inplace=True)

In [69]:
df8['milliseconds'].nlargest()

9156    3069017
9155    3067301
9157    3065174
9154    3063613
9152    3063314
Name: milliseconds, dtype: int64

In [70]:
#Pretty large pit stops can be seen, indicating major repairs, or incidents

In [71]:
df8.head(2)

   raceId  driverId  stop  lap  milliseconds
0     841       153     1    1         26898
1     841        30     1    1         25021

In [72]:
#File 9) qualifying.csv

In [73]:
df9.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9815 entries, 0 to 9814
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   qualifyId      9815 non-null   int64
 1   raceId         9815 non-null   int64
 2   driverId       9815 non-null   int64
 3   constructorId  9815 non-null   int64
 4   number         9815 non-null   int64
 5   position       9815 non-null   int64
 6   q1             9807 non-null   object
 7   q2             9651 non-null   object
 8   q3             9488 non-null   object
dtypes: int64(6), object(3)
memory usage: 690.2+ KB

In [74]:
df9.head(2)

,qualifyId,raceId,driverId,constructorId,number,position,q1,q2,q3
0,1,18,1,1,22,1,1:26.572,1:25.187,1:26.714
1,2,18,9,2,4,2,1:26.103,1:25.315,1:26.869

In [75]:
# Replace '\N' with '0:00:000' in columns 'q1', 'q2', and 'q3' of the DataFrame
df9[['q1', 'q2', 'q3']] = df9[['q1', 'q2', 'q3']].replace('\\N', '0:00.000')

In [76]:
#Converting q1, q2, q3 from string to tome format
df9['q1'] = pd.to_datetime(df9['q1'], format='%M:%S.%f')
df9['q2'] = pd.to_datetime(df9['q2'], format='%M:%S.%f')
df9['q3'] = pd.to_datetime(df9['q3'], format='%M:%S.%f')

In [77]:
df9.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9815 entries, 0 to 9814
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   qualifyId      9815 non-null   int64
 1   raceId         9815 non-null   int64
 2   driverId       9815 non-null   int64
 3   constructorId  9815 non-null   int64
 4   number         9815 non-null   int64
 5   position       9815 non-null   int64
 6   q1             9807 non-null   datetime64[ns]
 7   q2             9651 non-null   datetime64[ns]
 8   q3             9488 non-null   datetime64[ns]
dtypes: datetime64[ns](3), int64(6)
memory usage: 690.2 KB

In [78]:
#File 10) races.csv

In [79]:
df10.head(2)

,raceId,year,round,circuitId,name,date,time,url,fp1_date,fp1_time,fp2_date,fp2_time,fp3_date,fp3_time,quali_date,quali_time,sprint_date,sprint_time
0,1,2009,1,1,Australian Grand Prix,2009-03-29,06:00:00,http://en.wikipedia.org/wiki/2009_Australian_G...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N
1,2,2009,2,2,Malaysian Grand Prix,2009-04-05,09:00:00,http://en.wikipedia.org/wiki/2009_Malaysian_Gr...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N

In [80]:
#Slicing useful columns
df10 = df10.iloc[:, 0:4]

In [81]:
df10.head(2)

   raceId  year  round  circuitId
0       1  2009      1          1
1       2  2009      2          2

In [82]:
# File 11)

In [83]:
df11.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26080 entries, 0 to 26079
Data columns (total 18 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   resultId         26080 non-null  int64
 1   raceId           26080 non-null  int64
 2   driverId         26080 non-null  int64
 3   constructorId    26080 non-null  int64
 4   number           26080 non-null  object
 5   grid             26080 non-null  int64
 6   position         26080 non-null  object
 7   positionText     26080 non-null  object
 8   positionOrder    26080 non-null  int64
 9   points           26080 non-null  float64
 10  laps             26080 non-null  int64
 11  time             26080 non-null  object
 12  milliseconds     26080 non-null  object
 13  fastestLap       26080 non-null  object
 14  rank             26080 non-null  object
 15  fastestLapTime   26080 non-null  object
 16  fastestLapSpeed  26080 non-null  object
 17  statusId         26080 non-null  int64
dtypes: float64(1), int64(8), object(9)
memory usage: 3.6+ MB

In [84]:
df11.head()

,resultId,raceId,driverId,constructorId,number,grid,position,positionText,positionOrder,points,laps,time,milliseconds,fastestLap,rank,fastestLapTime,fastestLapSpeed,statusId
0,1,18,1,1,22,1,1,1,1,10.0,58,1:34:50.616,5690616,39,2,1:27.452,218.300,1
1,2,18,2,2,3,5,2,2,2,8.0,58,+5.478,5696094,41,3,1:27.739,217.586,1
2,3,18,3,3,7,7,3,3,3,6.0,58,+8.163,5698779,41,5,1:28.090,216.719,1
3,4,18,4,4,5,11,4,4,4,5.0,58,+17.181,5707797,58,7,1:28.603,215.464,1
4,5,18,5,1,23,3,5,5,5,4.0,58,+18.014,5708630,43,1,1:27.418,218.385,1

In [85]:
#Dropping position and positionText because positionOrder has all Integers
#Dropping time, because handling milliseconds would be easier
df11.drop(columns={'position', 'positionText', 'time', 'number'}, inplace=True)

In [86]:
df11.head(2)

,resultId,raceId,driverId,constructorId,grid,positionOrder,points,laps,milliseconds,fastestLap,rank,fastestLapTime,fastestLapSpeed,statusId
0,1,18,1,1,1,1,10.0,58,5690616,39,2,1:27.452,218.300,1
1,2,18,2,2,5,2,8.0,58,5696094,41,3,1:27.739,217.586,1

In [87]:
#Handling Missing Values 
# Replace '\N' with '0' in columns milliseconds, fastestLap, rank & fastestLapSpeed
df11[['milliseconds', 'fastestLap', 'rank', 'fastestLapSpeed']] = df11[['milliseconds', 'fastestLap', 'rank', 'fastestLapSpeed']].replace('\\N', '0')

In [88]:
 # Replace '\N' with '0:00.000' in column fastestLapTime
df11[['fastestLapTime']] = df11[['fastestLapTime']].replace('\\N', '0:0.000')

In [89]:
#Converting column milliseconds, fastestLap, rank from string to int format
df11[['milliseconds', 'fastestLap', 'rank']] = df11[['milliseconds', 'fastestLap', 'rank']].astype(int)

In [90]:
#Converting column fastestLapSpeed string to float format
df11['fastestLapSpeed'] = df11['fastestLapSpeed'].astype(float)

In [91]:
#Converting column fastestLapTime from string to time format
df11['fastestLapTime'] = pd.to_datetime(df11['fastestLapTime'], format='%M:%S.%f')

In [92]:
df11.rename(columns={'rank':'fastestLapRank'}, inplace=True)

In [93]:
df11.head(2)

,resultId,raceId,driverId,constructorId,grid,positionOrder,points,laps,milliseconds,fastestLap,fastestLapRank,fastestLapTime,fastestLapSpeed,statusId
0,1,18,1,1,1,1,10.0,58,5690616,39,2,1900-01-01 00:01:27.452,218.300,1
1,2,18,2,2,5,2,8.0,58,5696094,41,3,1900-01-01 00:01:27.739,217.586,1

In [94]:
# Extract minute, seconds, and milliseconds
df11['fastestLapTime'] = df11['fastestLapTime'].dt.strftime('%M:%S.%f').str.slice(0, -3)

In [95]:
df11.head(2)

,resultId,raceId,driverId,constructorId,grid,positionOrder,points,laps,milliseconds,fastestLap,fastestLapRank,fastestLapTime,fastestLapSpeed,statusId
0,1,18,1,1,1,1,10.0,58,5690616,39,2,01:27.452,218.300,1
1,2,18,2,2,5,2,8.0,58,5696094,41,3,01:27.739,217.586,1

In [96]:
#File 12) seasons.csv

In [97]:
df12.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 74 entries, 0 to 73
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   year    74 non-null     int64
 1   url     74 non-null     object
dtypes: int64(1), object(1)
memory usage: 1.3+ KB

In [98]:
df12.head(2)

   year                                                url
0  2009  http://en.wikipedia.org/wiki/2009_Formula_One_...
1  2008  http://en.wikipedia.org/wiki/2008_Formula_One_...

In [99]:
#This file is not useful in any analysis, hence moving on

In [100]:
#File 13) sprint_results.csv

In [101]:
df13.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 180 entries, 0 to 179
Data columns (total 16 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   resultId        180 non-null    int64
 1   raceId          180 non-null    int64
 2   driverId        180 non-null    int64
 3   constructorId   180 non-null    int64
 4   number          180 non-null    int64
 5   grid            180 non-null    int64
 6   position        180 non-null    object
 7   positionText    180 non-null    object
 8   positionOrder   180 non-null    int64
 9   points          180 non-null    int64
 10  laps            180 non-null    int64
 11  time            180 non-null    object
 12  milliseconds    180 non-null    object
 13  fastestLap      180 non-null    object
 14  fastestLapTime  180 non-null    object
 15  statusId        180 non-null    int64
dtypes: int64(10), object(6)
memory usage: 22.6+ KB

In [102]:
#Almost all preprocessing steps are same as those for File 11: results.csv
#Dropping useless columns
df13.drop(columns={'number', 'position', 'positionText', 'time'}, inplace=True)

In [103]:
df13.head()

,resultId,raceId,driverId,constructorId,grid,positionOrder,points,laps,milliseconds,fastestLap,fastestLapTime,statusId
0,1,1061,830,9,2,1,3,17,1538426,14,1:30.013,1
1,2,1061,1,131,1,2,2,17,1539856,17,1:29.937,1
2,3,1061,822,131,3,3,1,17,1545928,17,1:29.958,1
3,4,1061,844,6,4,4,0,17,1549704,16,1:30.163,1
4,5,1061,846,1,6,5,0,17,1562537,16,1:30.566,1

In [104]:
#Handling Missing Values and Formatting the respective columns
# Replace '\N' with '0' in columns milliseconds & fastestLap
df13[['milliseconds', 'fastestLap']] = df13[['milliseconds', 'fastestLap']].replace('\\N', '0')
 # Replace '\N' with '0:00.000' in column fastestLapTime
df13[['fastestLapTime']] = df13[['fastestLapTime']].replace('\\N', '0:0.000')   

#Converting column milliseconds, fastestLap, rank from string to int format
df13[['milliseconds', 'fastestLap']] = df13[['milliseconds', 'fastestLap']].astype(int)
#Converting column fastestLapTime from string to time format
df13['fastestLapTime'] = pd.to_datetime(df13['fastestLapTime'], format='%M:%S.%f')

In [105]:
df13.dtypes

resultId                   int64
raceId                     int64
driverId                   int64
constructorId              int64
grid                       int64
positionOrder              int64
points                     int64
laps                       int64
milliseconds               int64
fastestLap                 int64
fastestLapTime    datetime64[ns]
statusId                   int64
dtype: object

In [106]:
df13['raceId'].unique()

array([1061, 1065, 1071, 1077, 1084, 1095, 1101, 1107, 1110])

In [107]:
#Feature Engineering: Creating the 'fastestLapRank' column
df13['fastestLapRank'] = df13.groupby('raceId')['fastestLapTime'].rank().astype(int)

In [108]:
df13.head(2)

,resultId,raceId,driverId,constructorId,grid,positionOrder,points,laps,milliseconds,fastestLap,fastestLapTime,statusId,fastestLapRank
0,1,1061,830,9,2,1,3,17,1538426,14,1900-01-01 00:01:30.013,1,3
1,2,1061,1,131,1,2,2,17,1539856,17,1900-01-01 00:01:29.937,1,1

In [109]:
# Extract minute, seconds, and milliseconds
df13['fastestLapTime'] = df13['fastestLapTime'].dt.strftime('%M:%S.%f').str.slice(0, -3)

In [110]:
df13.head(2)

,resultId,raceId,driverId,constructorId,grid,positionOrder,points,laps,milliseconds,fastestLap,fastestLapTime,statusId,fastestLapRank
0,1,1061,830,9,2,1,3,17,1538426,14,01:30.013,1,3
1,2,1061,1,131,1,2,2,17,1539856,17,01:29.937,1,1

In [111]:
#File 14) status.csv

In [112]:
df14.head()

   statusId        status
0         1      Finished
1         2  Disqualified
2         3      Accident
3         4     Collision
4         5        Engine

In [113]:
#This file has all the possible results for each car on the track
#This is best left untouched

# Data Cleaning - Part 2

In [114]:
df1.head()

   circuitId                            name      location    country
0          1  Albert Park Grand Prix Circuit     Melbourne  Australia
1          2    Sepang International Circuit  Kuala Lumpur   Malaysia
2          3   Bahrain International Circuit        Sakhir    Bahrain
3          4  Circuit de Barcelona-Catalunya      Montmeló      Spain
4          5                   Istanbul Park      Istanbul     Turkey

In [115]:
df1.rename(columns={'name':'circuit_name', 'location':'circuit_location', 'country':'circuit_country'}, inplace=True)

In [116]:
df1.head(2)

   circuitId                    circuit_name circuit_location circuit_country
0          1  Albert Park Grand Prix Circuit        Melbourne       Australia
1          2    Sepang International Circuit     Kuala Lumpur        Malaysia

In [117]:
df2.head()

   constructorResultsId  raceId  constructorId  points status
0                     1      18              1    14.0     \N
1                     2      18              2     8.0     \N
2                     3      18              3     9.0     \N
3                     4      18              4     5.0     \N
4                     5      18              5     2.0     \N

In [118]:
df2['status'].value_counts()

status
\N    12273
D        17
Name: count, dtype: int64

In [119]:
df2.drop(columns={'status'}, inplace=True)

In [120]:
df3.head(3)

   constructorStandingsId  raceId  constructorId  points  position  wins
0                       1      18              1    14.0         1     1
1                       2      18              2     8.0         3     0
2                       3      18              3     9.0         2     0

In [121]:
df5.head()

   driverStandingsId  raceId  driverId  points  position  wins
0                  1      18         1    10.0         1     1
1                  2      18         2     8.0         2     0
2                  3      18         3     6.0         3     0
3                  4      18         4     5.0         4     0
4                  5      18         5     4.0         5     0

In [122]:
#Driver and Constructor nationalities are given as British for UK etc
#So, for better analysis, I'll introduce a featues: driver_home and constructor_home

In [123]:
df4.head(2)

   constructorId        name nationality
0              1     McLaren     British
1              2  BMW Sauber      German

In [124]:
df4.rename(columns={'name':'constructor_name', 'nationality':'constructor_nationality'}, inplace=True)

In [125]:
df4['constructor_nationality'].unique()

array(['British', 'German', 'French', 'Italian', 'Japanese', 'Austrian',
       'Indian', 'Dutch', 'Russian', 'Swiss', 'Irish', 'Hong Kong',
       'Brazilian', 'Canadian', 'Mexican', 'American', 'Australian',
       'New Zealander', 'South African', 'Rhodesian', 'Belgian',
       'East German', 'Spanish', 'Malaysian'], dtype=object)

In [126]:
#To make things easier, 'East German' : 'German' in constructor_nationality
df4['constructor_nationality'] = df4['constructor_nationality'].replace('East German', 'German')

In [127]:
df4['constructor_nationality'].unique()

array(['British', 'German', 'French', 'Italian', 'Japanese', 'Austrian',
       'Indian', 'Dutch', 'Russian', 'Swiss', 'Irish', 'Hong Kong',
       'Brazilian', 'Canadian', 'Mexican', 'American', 'Australian',
       'New Zealander', 'South African', 'Rhodesian', 'Belgian',
       'Spanish', 'Malaysian'], dtype=object)

In [128]:
df6.head(2)

   driverId code forename   surname        dob nationality
0         1  HAM    Lewis  Hamilton 1985-01-07     British
1         2  HEI     Nick  Heidfeld 1977-05-10      German

In [129]:
df6.rename(columns={'code':'driver_code', 'forename':'driver_forename', 'surname':'driver_surname', 'dob':'driver_dob', 'nationality':'driver_nationality'}, inplace=True)

In [130]:
df6['driver_nationality'].unique()

array(['British', 'German', 'Spanish', 'Finnish', 'Japanese', 'French',
       'Polish', 'Brazilian', 'Italian', 'Australian', 'Austrian',
       'American', 'Dutch', 'Colombian', 'Portuguese', 'Canadian',
       'Indian', 'Hungarian', 'Irish', 'Danish', 'Argentine', 'Czech',
       'Malaysian', 'Swiss', 'Belgian', 'Monegasque', 'Swedish',
       'Venezuelan', 'New Zealander', 'Chilean', 'Mexican',
       'South African', 'Liechtensteiner', 'Rhodesian',
       'American-Italian', 'Uruguayan', 'Argentine-Italian', 'Thai',
       'East German', 'Russian', 'Indonesian', 'Chinese'], dtype=object)

In [131]:
#'American-Italian': 'USA', 'Argentine-Italian': 'Argentina' in driver nationality 
df6['driver_nationality'] = df6['driver_nationality'].replace('East German', 'German')
df6['driver_nationality'] = df6['driver_nationality'].replace('American-Italian', 'USA')
df6['driver_nationality'] = df6['driver_nationality'].replace('Argentine-Italian', 'Argentina')

In [132]:
df6['driver_nationality'].unique()

array(['British', 'German', 'Spanish', 'Finnish', 'Japanese', 'French',
       'Polish', 'Brazilian', 'Italian', 'Australian', 'Austrian',
       'American', 'Dutch', 'Colombian', 'Portuguese', 'Canadian',
       'Indian', 'Hungarian', 'Irish', 'Danish', 'Argentine', 'Czech',
       'Malaysian', 'Swiss', 'Belgian', 'Monegasque', 'Swedish',
       'Venezuelan', 'New Zealander', 'Chilean', 'Mexican',
       'South African', 'Liechtensteiner', 'Rhodesian', 'USA',
       'Uruguayan', 'Argentina', 'Thai', 'Russian', 'Indonesian',
       'Chinese'], dtype=object)

In [133]:
# Dictionary mapping countries to nationalities
nationality_to_country = {
    'British': 'UK',
    'German': 'Germany',
    'French': 'France',
    'Italian': 'Italy',
    'Japanese': 'Japan',
    'Austrian': 'Austria',
    'Indian': 'India',
    'Dutch': 'Netherlands',
    'Russian': 'Russia',
    'Swiss': 'Switzerland',
    'Irish': 'Ireland',
    'Hong Kong': 'Hong Kong',
    'Brazilian': 'Brazil',
    'Canadian': 'Canada',
    'Mexican': 'Mexico',
    'American': 'USA',
    'Australian': 'Australia',
    'New Zealander': 'New Zealand',
    'South African': 'South Africa',
    'Rhodesian': 'Rhodesia',
    'Belgian': 'Belgium',
    'East German': 'East Germany',
    'Spanish': 'Spain',
    'Malaysian': 'Malaysia',
    'Finnish': 'Finland',
    'Polish': 'Poland',
    'Colombian': 'Colombia',
    'Portuguese': 'Portugal',
    'Hungarian': 'Hungary',
    'Danish': 'Denmark',
    'Argentine': 'Argentina',
    'Czech': 'Czech Republic',
    'Monegasque': 'Monaco',
    'Swedish': 'Sweden',
    'Venezuelan': 'Venezuela',
    'Chilean': 'Chile',
    'Liechtensteiner': 'Liechtenstein',
    'American-Italian': 'USA',
    'Uruguayan': 'Uruguay',
    'Argentine-Italian': 'Argentina',
    'Thai': 'Thailand',
    'Indonesian': 'Indonesia',
    'Chinese': 'China'
}

In [134]:
# Create the new 'constructor_home' column
df4['constructor_home'] = df4['constructor_nationality'].map(nationality_to_country)

In [135]:
# Create the new 'constructor_home' column
df4['constructor_home'] = df4['constructor_nationality'].map(nationality_to_country)

In [136]:
df4.head(2)

   constructorId constructor_name constructor_nationality constructor_home
0              1          McLaren                 British               UK
1              2       BMW Sauber                  German          Germany

In [137]:
# Create the new 'driver_home' column
df6['driver_home'] = df6['driver_nationality'].map(nationality_to_country)

In [138]:
df6.head(2)

,driverId,driver_code,driver_forename,driver_surname,driver_dob,driver_nationality,driver_home
0,1,HAM,Lewis,Hamilton,1985-01-07,British,UK
1,2,HEI,Nick,Heidfeld,1977-05-10,German,Germany

In [139]:
df1.head(2)

   circuitId                    circuit_name circuit_location circuit_country
0          1  Albert Park Grand Prix Circuit        Melbourne       Australia
1          2    Sepang International Circuit     Kuala Lumpur        Malaysia

In [140]:
#To make things easier, 'United States' : 'USA' in the'circuit_country' column
df1['circuit_country'] = df1['circuit_country'].replace('United States', 'USA')

In [141]:
df1['circuit_country'].unique()

array(['Australia', 'Malaysia', 'Bahrain', 'Spain', 'Turkey', 'Monaco',
       'Canada', 'France', 'UK', 'Germany', 'Hungary', 'Belgium', 'Italy',
       'Singapore', 'Japan', 'China', 'Brazil', 'USA', 'UAE', 'Argentina',
       'Portugal', 'South Africa', 'Mexico', 'Korea', 'Netherlands',
       'Sweden', 'Austria', 'Morocco', 'Switzerland', 'India', 'Russia',
       'Azerbaijan', 'Saudi Arabia', 'Qatar'], dtype=object)

In [142]:
#Introducing circuit_nationality
# Dictionary mapping countries to nationalities
country_to_nationality = {
    'Australia': 'Australian',
    'Malaysia': 'Malaysian',
    'Bahrain': 'Bahraini',
    'Spain': 'Spanish',
    'Turkey': 'Turkish',
    'Monaco': 'Monegasque',
    'Canada': 'Canadian',
    'France': 'French',
    'UK': 'British',
    'Germany': 'German',
    'Hungary': 'Hungarian',
    'Belgium': 'Belgian',
    'Italy': 'Italian',
    'Singapore': 'Singaporean',
    'Japan': 'Japanese',
    'China': 'Chinese',
    'Brazil': 'Brazilian',
    'USA': 'American',
    'UAE': 'Emirati',
    'Argentina': 'Argentine',
    'Portugal': 'Portuguese',
    'South Africa': 'South African',
    'Mexico': 'Mexican',
    'Korea': 'South Korean',
    'Netherlands': 'Dutch',
    'Sweden': 'Swedish',
    'Austria': 'Austrian',
    'Morocco': 'Moroccan',
    'Switzerland': 'Swiss',
    'India': 'Indian',
    'Russia': 'Russian',
    'Azerbaijan': 'Azerbaijani',
    'Saudi Arabia': 'Saudi Arabian',
    'Qatar': 'Qatari'
}

In [143]:
# Create the new 'circuit_nationality' column
df1['circuit_nationality'] = df1['circuit_country'].map(country_to_nationality)

In [144]:
df1.head(2)

,circuitId,circuit_name,circuit_location,circuit_country,circuit_nationality
0,1,Albert Park Grand Prix Circuit,Melbourne,Australia,Australian
1,2,Sepang International Circuit,Kuala Lumpur,Malaysia,Malaysian

In [145]:
df7.head(2)

   raceId  driverId  lap  position  milliseconds                   time
0     841        20    1         1         98109 0 days 00:01:38.109000
1     841        20    2         1         93006 0 days 00:01:33.006000

In [146]:
df7.drop(columns='milliseconds', inplace=True)

In [147]:
df7.rename(columns={'time':'lap_time'}, inplace=True)

In [148]:
df7.head(2)

   raceId  driverId  lap  position               lap_time
0     841        20    1         1 0 days 00:01:38.109000
1     841        20    2         1 0 days 00:01:33.006000

In [149]:
df8.head(2)

   raceId  driverId  stop  lap  milliseconds
0     841       153     1    1         26898
1     841        30     1    1         25021

In [150]:
df9.head(2)

,qualifyId,raceId,driverId,constructorId,number,position,q1,q2,q3
0,1,18,1,1,22,1,1900-01-01 00:01:26.572,1900-01-01 00:01:25.187,1900-01-01 00:01:26.714
1,2,18,9,2,4,2,1900-01-01 00:01:26.103,1900-01-01 00:01:25.315,1900-01-01 00:01:26.869

In [151]:
# Remove days from the 'q1', 'q2', 'q3' columns
df9['q1'] = df9['q1'] - df9['q1'].dt.floor('D')
df9['q2'] = df9['q2'] - df9['q2'].dt.floor('D')
df9['q3'] = df9['q3'] - df9['q3'].dt.floor('D')

In [152]:
df9.head(2)

,qualifyId,raceId,driverId,constructorId,number,position,q1,q2,q3
0,1,18,1,1,22,1,0 days 00:01:26.572000,0 days 00:01:25.187000,0 days 00:01:26.714000
1,2,18,9,2,4,2,0 days 00:01:26.103000,0 days 00:01:25.315000,0 days 00:01:26.869000

In [153]:
df10.head(2)

   raceId  year  round  circuitId
0       1  2009      1          1
1       2  2009      2          2

In [154]:
df11.head(2)

,resultId,raceId,driverId,constructorId,grid,positionOrder,points,laps,milliseconds,fastestLap,fastestLapRank,fastestLapTime,fastestLapSpeed,statusId
0,1,18,1,1,1,1,10.0,58,5690616,39,2,01:27.452,218.300,1
1,2,18,2,2,5,2,8.0,58,5696094,41,3,01:27.739,217.586,1

In [155]:
df11.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26080 entries, 0 to 26079
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   resultId         26080 non-null  int64
 1   raceId           26080 non-null  int64
 2   driverId         26080 non-null  int64
 3   constructorId    26080 non-null  int64
 4   grid             26080 non-null  int64
 5   positionOrder    26080 non-null  int64
 6   points           26080 non-null  float64
 7   laps             26080 non-null  int64
 8   milliseconds     26080 non-null  int64
 9   fastestLap       26080 non-null  int64
 10  fastestLapRank   26080 non-null  int64
 11  fastestLapTime   26080 non-null  object
 12  fastestLapSpeed  26080 non-null  float64
 13  statusId         26080 non-null  int64
dtypes: float64(2), int64(11), object(1)
memory usage: 2.8+ MB

In [156]:
# Convert 'fastestLapTime' column to timedelta
df11['fastestLapTime'] = pd.to_timedelta('00:' + df11['fastestLapTime'])

In [157]:
#dropping milliseconds
df11.drop(columns={'milliseconds'}, inplace=True)

In [158]:
df11.rename(columns={'positionOrder':'position', 'grid':'grid_position'}, inplace=True)

In [159]:
df11.head(2)

,resultId,raceId,driverId,constructorId,grid_position,position,points,laps,fastestLap,fastestLapRank,fastestLapTime,fastestLapSpeed,statusId
0,1,18,1,1,1,1,10.0,58,39,2,0 days 00:01:27.452000,218.300,1
1,2,18,2,2,5,2,8.0,58,41,3,0 days 00:01:27.739000,217.586,1

In [160]:
df12.head(2)

   year                                                url
0  2009  http://en.wikipedia.org/wiki/2009_Formula_One_...
1  2008  http://en.wikipedia.org/wiki/2008_Formula_One_...

In [161]:
df13.head(2)

,resultId,raceId,driverId,constructorId,grid,positionOrder,points,laps,milliseconds,fastestLap,fastestLapTime,statusId,fastestLapRank
0,1,1061,830,9,2,1,3,17,1538426,14,01:30.013,1,3
1,2,1061,1,131,1,2,2,17,1539856,17,01:29.937,1,1

In [162]:
df13.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 180 entries, 0 to 179
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   resultId        180 non-null    int64
 1   raceId          180 non-null    int64
 2   driverId        180 non-null    int64
 3   constructorId   180 non-null    int64
 4   grid            180 non-null    int64
 5   positionOrder   180 non-null    int64
 6   points          180 non-null    int64
 7   laps            180 non-null    int64
 8   milliseconds    180 non-null    int64
 9   fastestLap      180 non-null    int64
 10  fastestLapTime  180 non-null    object
 11  statusId        180 non-null    int64
 12  fastestLapRank  180 non-null    int64
dtypes: int64(12), object(1)
memory usage: 18.4+ KB

In [163]:
# Convert 'fastestLapTime' column to timedelta
df13['fastestLapTime'] = pd.to_timedelta('00:' + df13['fastestLapTime'])
#dropping milliseconds
df13.drop(columns={'milliseconds'}, inplace=True)
df13.rename(columns={'positionOrder':'position', 'grid':'grid_position'}, inplace=True)

In [164]:
df13.head(2)

,resultId,raceId,driverId,constructorId,grid_position,position,points,laps,fastestLap,fastestLapTime,statusId,fastestLapRank
0,1,1061,830,9,2,1,3,17,14,0 days 00:01:30.013000,1,3
1,2,1061,1,131,1,2,2,17,17,0 days 00:01:29.937000,1,1

In [165]:
df14.head()

   statusId        status
0         1      Finished
1         2  Disqualified
2         3      Accident
3         4     Collision
4         5        Engine

# Dataset is Cleaned!!!

## You can now use this cleaned dataset to make your own insights!
## Othewise, heres a link to this cleaned dataset: 
### https://www.kaggle.com/datasets/suletanmay/formula-1-dataset-1950-2023-cleaned?rvi=1